.footer-blog-read {
    display: flex;
    width: fit-content;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition-duration: 0.2s;
    cursor: pointer;
}

.footer-blog-read:hover {
    opacity: 0.8;
}

.footer-blog-read img {
    margin-left: 5px;
}

.footer-blog-text {
    max-height: 140px;
    overflow: hidden;
}

.footer-blog-text.extended {
    max-height: unset;
    margin-bottom: 0;
    padding-bottom: 200px;
}

.footer-blog-read.unactive {
    display: none;
}

.footer-blog.extended {
    height: unset;
    min-height: 625px;
}

.footer-blog-relative {
    min-height: 625px;
}